.ShareListItem {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 1.5rem;

  .personContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .amount {
    color: lighten($color-accent, 10);
  }

  .controlContainer {

    &.customShareControl {
      flex-basis: 20%;
      text-align: center;
    }

  }
}
