.title {

  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
}

.cardTitle {
  > div {
    overflow: hidden;
  }

  padding-top: 1rem !important;
  padding-bottom: 0 !important;
}
