.header {
  height: 100%;
  padding: 0px !important;

  overflow-y: hidden;
  background-size: cover;
  background-position: center center;
  color: white;

  .content {
    text-align: center;
    padding: 80px 0 50px;
    position: relative;

    & > div {
      position: relative;
    }

    h1.handwritten {
      font-family: $handwritten-font;
      margin-bottom: 35px;
    }

    @media (min-width: 768px) {
      text-align: left;
      padding: 0;
      margin-right: 20px;

      height: 100vh;
      ~ > div {
        max-width: none;
        text-align: right;
        margin: 0;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      h1 {
        font-size: 35px;
      }
    }

    @media (min-width: 992px) {
      font-size: 40px;
    }
  }

  .mockup {
    position: relative;
    width: 100%;
    padding-bottom: 201.76%;

    & > .device {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      @media (min-width: 992px) {
        margin: 180px auto 0;
      }
      @media (min-width: 768px) {
        margin: 200px auto 0;
      }

      & > .screen {
        position: absolute;
        top: 11.58%;
        bottom: 11.58%;
        left: 5.97%;
        right: 5.97%;
        overflow: hidden;

        & > img {
          max-width: 100%;
          display: block;
          height: auto;
        }
      }
    }
  }

  $transWhite: rgba(white, 0.7);

  .affix {
    z-index: 1000;
    padding: 10px 0;
    width: 100%;

    position: fixed !important;
    top: 0 !important;


    &.affixScroll {
      background-color: $color-primary-dark;

      .logo h1, .navbar ul li a {
        color: white;
      }

    }

    .logo {
      h1 {
        margin-top: 10px;
        color: $transWhite;
      }
    }
    .navbar {
      text-align: right;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
          display: inline-block;

          a {
            display: block;
            color: $transWhite;
            text-align: center;
            padding: 10px;
            margin: 0 5px;
            text-decoration: none;

            i {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}

