.layout{
  @media #{$sm-min}  {
    padding: 5rem 0;
  }
  background-color: $color-accent-light;
  min-height: 100%;
}
.container {
  height: 100%;
  background-color: white;

  @media #{$sm-min}  {
    margin: auto;
    max-width: $maxAppWidth;
    border-radius: $container-border-radius;
    overflow: hidden;
    box-shadow: $defaultShadow;
  }
}
