.AmountInput {
  flex-direction: row;
  display: flex;
  justify-content: space-between;

  .MoneyInput{
    padding-right: 1rem;
    [data-react-toolbox="input"] input {
      text-align: right;
      font-size: 2rem;
    }
  }

  .CurrencyInput{
    padding: 1rem 2rem;
    font-size: 2rem;
    border-right: 1px solid $color-button-grey;

    display: flex;
    align-items: center;
    justify-content: center;

  }
}
