.AddPersonPanel {
  background-color: $color-primary-light;
  color: white;

  .AddPersonInput {
    position: relative;
    padding: 0;
    margin-top: 10px;


    .InputContainer {
      padding: 10px;
      background-color: $color-primary;
      border-radius: 5px;

      span{
        display: none;
      }

      input {
        color: white;
        padding: 0;
        border-bottom: 0;
        padding-right: 30px;
      }
    }

    .AddButton {
      position: absolute;
      top: -7px;
      right: -10px;
      font-size: 2rem;
      min-width: 0;
      text-align: center;
      background-color: transparent;
      box-shadow: none;
      color: white;

      &:disabled{
        opacity: 0.3;
      }
    }

  }

}
