@import "../../../../../../../styles/_listItem";

.content {
  display: flex;
  justify-content: space-between;

  flex-grow: 1;

  overflow: hidden;

  .personName {
    overflow: hidden;
    text-overflow: ellipsis;

    padding-right: 1rem;
    flex-grow: 1;
  }
}

.listItem {
  margin: 2rem;

  align-items: center;
}
