// visual


$containerMargin: 1rem;

.billContainer {

  .billMetaDataContainer {
    margin: $containerMargin;
    margin-bottom: $containerMargin / 2;
  }

  .billPersonInformationContainer {
    margin: $containerMargin;
    margin-top: $containerMargin / 2;
  }

  .nameContainer {
    margin: 0 .5rem;
    font-size: larger;
  }

  .amountContainer {
    font-weight: bold;
    font-size: large;
  }
}

.billDetailOverlay {
  .debteeContainer {
    margin: 1.5rem 0;
    padding: .7rem;
    color: white;
    background-color: $color-primary;

    border-radius: .3rem;
  }
}


// layout

.billContainer {
  display: flex;
  flex-direction: column;

  .billMetaDataContainer, .billPersonInformationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .billPersonInformationContainer {

    .debtors {
      display: flex;
      flex-direction: row;
    }
  }
}

.billDetailMetaDataContainer {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .addedOnTimestamp, .paidOnTimestamp {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
  }

  .paidOnTimestamp {
    justify-content: flex-end;
  }
}

.debteeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
