@import "~react-toolbox/lib/mixins";

@mixin headingStyle() {
  margin: 0;
  margin-top: 1 * $unit;
  margin-bottom: 0.5 * $unit;
}

.heading {
  font-size: 3.5rem;
  margin: 2rem 0 1rem;
}

.subHeading{
  opacity: 0.5;
  font-size: 2rem;
  margin: 0 0 2rem;
}

.caption{
  font-size: inherit;
  font-weight: bold;
  margin: .5rem 0;
}

.title {
  @include typo-headline(); // Reuse styling from react-toolbox for consistency reasons
  @include headingStyle();

  padding-top: $unit;
}

.subTitle {
  color: $color-text-secondary;

  padding-top: $unit;
}

.legend{
  font-size: 1.2rem;
  line-height: 2rem;
  color: $grey;
  margin: 0;
}
