.header, .singleLineHeader {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;

  .avatar, .name{
    float: left;
  }
  .name{
    padding: 7px;
  }
}

.me{
  background-color: $color-primary-light;
  color: white;
  margin: 0px -30px;
  padding: 10px 35px;
  line-height: 35px;
  b{
    border: 3px solid white;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    margin: 0 5px;
  }
}

.singleLineHeader {
  text-align: center;
}
.singleLine{
  text-align: center;
  margin: 10px 0;
  font-weight: bold;

  b{
    color: $color-primary-light;
    border: 3px solid $color-primary-light;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
  }

  .total{
    margin: 7px;
    font-size: 15px;
  }
  .avatar{
    display: inline-block;
  }
  .name{
    padding: 5px 5px;
    display: inline-block;
  }
}
