.fabContainer {
  position: fixed;

  bottom: 3rem;
  right: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fabMenu {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.background {

  @include animateShow(background-color);

  background-color: rgba($color-accent-light, 0);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.active {
    background-color: rgba($color-accent-light, 0.9);

    @include animateHide(background-color);
  }
}
