.container {
  width: 100%;

  .row:first-of-type {
    border-top: 0px;
  }

  .row {
    margin-top: 8px;
    border-top: 1px dashed grey;
    padding-top: 8px;

    .avatarCell {
      width: 40px;
      float: left;

      div {
        width: 25px;
        height: 25px;
      }
    }
    .nameCell {
      vertical-align: middle;
      float: left;
      padding-top: 5px;
    }
    .amountCell {
      vertical-align: middle;
      float: right;
      padding-top: 5px;

      .amount {
        margin-left: 5px;
      }
    }
  }

  .spacingRow {
    height: 10px;
  }
}
