$avatarSize: 25px;

.container {
  padding: 15px;

  .title {
    margin-bottom: 5px;

    .description {
      float: left;
      white-space: nowrap;

      .name {
        margin: 4px 7px;
        float: left;
      }

      .amount {
        font-size: 20px;
        float: left;
      }
    }

    .date {
      float: right;
      padding-top: 5px;
      color: $color-accent;

    }
  }

  .persons {
    position: relative;
    padding: 5px 0 10px 0;

    .right {
      text-align: right;
      margin-top: 5px;

      .avatar {
        margin-left: 5px;
        display: inline-block;
      }
    }

    .left {
      position: absolute;
      top: 5px;
      background-color: white;

      .avatar {
        margin-right: 5px;

        div {
          display: inline-block;
        }
      }
    }
  }

  .debtors {

    span {
      background-color: $color-accent-light;
      margin-right: 5px;
      margin-bottom: 5px;
      padding: 5px 10px;
      display: inline-block;

      b {
        margin-left: 5px;
      }
    }
  }
}
