$avatarSize: 25px;

.container {
  padding: 15px;

  .title {
    margin-bottom: 5px;

    .description {
      float: left;
      white-space: nowrap;

      .name {
        margin: 4px 7px;
        float: left;
      }

      .amount {
        font-size: 20px;
        float: left;
        font-weight: bold;
      }
    }

    .date {
      float: right;
      padding-top: 5px;
      color: $color-accent;
    }
  }

  .persons {
    position: relative;
    padding: 5px 0 10px 0;

    .right {
      text-align: right;
      margin-top: 5px;
      white-space: nowrap;

      .avatar {
        margin-left: 5px;
        display: inline-block;
      }
    }

    .left {
      position: absolute;
      top: 5px;

      .avatar {
        background-color: white;
        float: left;

        div {
          display: inline-block;
        }
      }

      .name {
        background-color: white;
        float: left;
        padding: 5px;
      }

      .transition {
        float: left;
        width: 80px;
        height: 30px;
        display: inline-block;

        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
      }
    }
  }
}
