.introductionTextContainer {
  font-size: larger;
}

.createNobtButtonContainer {
  margin-top: 4rem;
  text-align: center;
}

.form {
  padding: 2rem 0;
}

.note {
  margin-top: 2rem;
  font-size: smaller;
  text-align: center;

  p {
    color: lighten(black, 70);
  }
}

.memberList {
  border: 1px solid $color-accent-light;
  border-radius: .2rem;
}

.addMemberInputInlineForm {
  background-color: $color-accent-light;
}
