.introductionTextContainer {
  font-size: larger;
}

.createNobtButtonContainer {
  text-align: center;
}

.note {
  font-size: smaller;
  text-align: center;

  p {
    color: $color-button-grey-dark;
  }
}

.introductionTextContainer {
  color: $color-button-grey-dark;
}

.addMemberInputInlineForm {
  background-color: $color-accent-light;
}
