@import '~react-toolbox/lib/list/config';

.bar {
  display: none;
}

.input {
  padding: 1.2rem 0;
}

.inputElement {
  border: 0;
  padding-left: $list-horizontal-padding;
}

.icon {
  top: 0.7rem;
  padding-left: $list-horizontal-padding;
}

.counter {
  display: none;
}
