.introductionTextContainer {
  font-size: larger;
}

.createNobtButtonContainer {
  text-align: center;
}

.note {
  font-size: smaller;
  text-align: center;

  p {
    color: $color-accent;
  }
}

.introductionTextContainer {
  color: $color-accent;
}
