.SingleInputInlineForm {

  height: 6rem;
  display: flex;
  flex-direction: row;
  align-content: stretch;

  .input {
    left: 0;
    flex: 1; // let this element consume all the space
  }

  .button {
    right: 0;
  }
}
