// visual css:

.NewNobt {

  .metaInformationContainer {

    background-color: $color-primary-light;

    .currencyPickerContainer input, .nobtNameInput {
        background-color: $color-primary;
        border-radius: .5rem;
        padding: .8rem;
        color: $color-accent-dark;
    }

    .currencyPickerContainer {
      input {
        text-align: center;
      }
    }
  }


  .disableScreen {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 64px;
    left: 0;
    opacity: .6; /* in FireFox */
    filter: alpha(opacity=50); /* in IE */
    pointer-events: none;
  }
}



// layout css

.NewNobt {

  .metaInformationContainer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .currencyPickerContainer {
      width: 30%;

      .currencies {
        padding: 0;
      }
    }

    .nobtNameContainer {
      width: 60%;
    }

    .currencyPickerContainer, .nobtNameContainer {
      margin: auto;
    }
  }
}
