.amountInTextLine {
  font-weight: bold;
}

.meContainer {
  margin-bottom: 10px;
}

.messageContainer {
  border-radius: .2rem;
  font-size: 1.5rem;
  background-color: $color-primary;
  color: $color-accent-dark;
  display: block;
  padding: 10px 5px;
  text-align: center;
}
