@import '~react-toolbox/lib/colors';

// TODO: Use colors defined in the included file above instead of hardcoding.

$color-primary: #2d978d;
$color-primary-dark: #353535;
$color-primary-light: #34aca1;

$color-accent: #979797;
$color-accent-dark: #ffffff;
$color-accent-light: #e3e3e3;
$color-button-grey: #e8e8e8;

$color-error: #de3226;

$grey: #808080;

$color-button-grey-dark: darken($color-button-grey, 30);
