@import 'theme';

:global {
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  section, header {
    padding: 1rem 0;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
}
