$imported-modules: ();

@mixin exports($name, $warn: true) {
  @if (index($imported-modules, $name) == null) {
    $imported-modules: append($imported-modules, $name) !global;
    @content;
  } @else if $warn == true {
    @warn "Module `#{$name}` has already been imported.";
  }
}

@import 'theme';

exports("core") {
:global {
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  section, header {
    padding: 1rem 0;
  }

  ul, ol {
    margin-bottom: 0 !important;
  }
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

}
