
.card{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1),0 1px 1px -1px rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.12) !important;
  margin-bottom: 15px;
}

.transactionItem {
  padding: 15px;

  .avatar {
    float: left;
    width: 50px;
  }
  .content{
    margin-left: 50px;

    .amountContent{
      font-weight: bold;
      float: right;
      border-bottom: 1px solid black;
      padding-bottom: 5px;
    }
  }
}

.amount{
  padding-left: 5px;
}

.transactionSummary {
  display: table;
  width: 100%;
  padding-top: 0px;

  .row {
    display: table-row;
    font-size: 13px;

    .avatarCell{
      display: table-cell;
      width: 30px;

      div{
        width: 25px;
        height: 25px;
      }
    }
    .nameCell{
      display: table-cell;
      vertical-align: middle;
    }
    .amountCell{
      display: table-cell;
      vertical-align: middle;
      text-align: right
    }
  }
}
