.newNobtFormContainer {

  display: flex;
  justify-content: center;
}

.newNobtForm {

  width: 80%;

  > * {
    width: 100%;
  }

  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 2rem;

  border-radius: .2rem;

  .hidden {
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
  }

  .visible {
    transition: max-height 0.5s ease-in;
    max-height: 100vh;

    padding-bottom: 2rem;
  }

  .createNobtButtonContainer {
    margin-top: 1rem;
    text-align: right;
  }
}
