// visual css:

$avatarMargin: .5rem;

.container {
  padding: 1rem;

  .debtSummaryContainer {
    .amountContainer {
      .amount {
        font-weight: bold;
        margin-left: $avatarMargin;
      }
    }
  }

  .personsContainer {
    .persons {
      .avatar:not(:first-child) {
        margin-left: $avatarMargin / 2;
      }

      .avatar:first-child {
        margin-left: $avatarMargin;
      }
    }
  }

  .amountContainer,.personsContainer {
    margin: .5rem 0;
  }
}

// layout only css:

.meContainer {
  position: relative;

  .meAvatarIcon {
    position: absolute;
    top: 28px;
    left: 28px;
  }
}

.container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .meContainer {
    order: 0;
  }

  .debtSummaryContainer {
    order: 1;

    display: flex;
    flex-direction: column;

    .amountContainer {
      order: 0;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .personsContainer {
      order: 1;

      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .verb {
        order: 0;
      }

      .persons {
        order: 1;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

