.container {
  font-family: $fancy-font;
  color: $color-accent;
  text-align: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 40%;

  .icon{
    margin-bottom: 2rem;

    height: 30%;
    max-height: 160px;

    background: no-repeat center;
    background-size: contain;
  }

  .topLabel {
    font-size: 30px;
    margin-bottom: 1rem;
  }

  .linkLabel{
    font-size: 20px;

    a{
      color: $color-primary;
      text-decoration: none;
    }
  }
}
