.continueButtonContainer {
  margin-top: 4rem;
  text-align: center;
}

.form {
  margin: 3rem 0;
}

.introductionTextContainer {
  font-size: larger;
}

.formLine {
  .description {
    margin-top: -1rem;
    font-size: small;
  }
}

.introductionTextContainer, .description {
  color: $color-button-grey-dark;
}
