a.button{
  border: 1px solid white;
}

a.activeButton{
  border: 1px solid $color-primary;
  background-color: $color-primary;
}

a.activeButton, a.button {
  border-radius: 25px;
  color: white;
  display: inline-block;
  font-size: 11px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background 500ms ease;

  &:hover, &:focus, &:visited, &:link{
    color: #fff;
    text-decoration: none;
  }

  &:hover, &:focus{
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
