.billMetaInfoContainer {
  background-color: $color-button-grey;
}

.cancelButton, .addBillButton {
  color: white !important;
}

.billMetaInfoInputContainer {
  background-color: white;
  padding: 1rem;
}

.heading {
  text-align: center;
  font-variant: small-caps;
  margin: 1.5rem 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

// disable padding of all input boxes
[data-react-toolbox="input"] {
  padding: 0;
  width: 100%;
}

.row {

  .formElement {

    padding: .5rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    .icon {
      margin-right: 1rem;
      text-align: center;
    }
  }

  .descriptionInputContainer {
    width: 100%;
  }

  .amountInputContainer {

    .currencySymbol {
      width: 24px;
      font-family: inherit;
    }

    margin-right: 2%;

    flex: 0 1 auto;
  }

  .debteePicker {
    margin-left: 2%;

    flex: 1 0 auto;
    max-width: 60%;
  }
}

.billSplitInfoContainer {

  padding: 2rem;
  background-color: $color-primary;

  .billSplitHeader {
    color: white !important;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .whoIsInContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
