.overlay {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 200 !important;
}

.modal {
  position: absolute !important;
  bottom: 0 !important;
  width: 100%;
  top: 0 !important;
  padding: 0 !important;

  .content {
    padding: 0;
    display: block;
    background-color: white;
  }
}
