.DebteePicker {
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: hidden;

  cursor: pointer;

  .debteeContainer {

    overflow: hidden;
    margin-left: 1rem;

    .label {
      font-variant: small-caps;
      white-space: nowrap;
    }

    .debtee {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  margin-left: 1rem;
}
