.nobt {
  background-color: $color-accent-light;

  button {
    color: white !important;
  }

  .pointer {
    background-color: $color-accent;
  }

  .tabs {
    margin: 0 0;

    nav {
      margin: 0 15px;
    }
  }

  .tab {
    padding: 0 !important;
    margin-top: 10px;
  }
}
