
.header {
  height: 50px;

  h1 {
    font-size: 18px;
    margin: 10px 0;
  }

  button {
    background-color: $color-primary-dark;
    color: white !important;
    border-radius: 3px;
    padding: 0;

    &:disabled {
      opacity: 0.3;
    }
  }

  .buttonContainer {
    width: 100%;
    text-align: right;
  }
}
