.headerContainer {

  display: flex;
  align-items: center;
  width: 100%;

  .header {
    z-index: 100 !important;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;

    .leftContainer {
      order: 0;
      width: 50%;
      text-align: left;
    }

    .rightContainer {
      order: 1;
      width: 50%;
      text-align: right;
    }
  }
}
