
.header{
  font-family: $fancy-font;
  padding: 0 10px;
  height: 50px;

  h1{

    font-size: 24px;
    margin: 10px 0;
  }

  button{
    background-color: $color-primary-dark;
    color: white !important;
    border-radius: 3px;

    .material-icons{
      color: $color-primary;
    }
  }

  .buttonContainer {
    width: 100%;
    text-align: right;
  }

}
