@import "~react-toolbox/lib/button/config";

.circular {
  width: $button-height;
  height: $button-height;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: $button-toggle-font-size;
  height: $button-toggle-font-size;
}

.path {
  stroke: $color-accent-dark;
}
