.section {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: white;
}

.sectionCaption{
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: .5rem 0;
}

.sectionGroup{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: $container-border-radius;
  margin-bottom: 1.5rem;
  color: black;
  overflow: hidden;
}
