.section {
  padding: 1.5rem;
  border-bottom: 1px dotted $grey;
}

.sectionCaption{
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: .5rem 0;
}

.sectionGroup{
  background-color: white;
  border-radius: $container-border-radius;
  margin-bottom: 1.5rem;
  color: black;
}
