.section {
  background-color: white;
  border-radius: $container-border-radius;
  padding: 1rem;
  margin-bottom: 1rem;
}

.sectionCaption{
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: .5rem 0;
}

.sectionLegend{
  color: gray;
}
