.dialog {

  @media screen and (max-width: $layout-breakpoint-xs) {
    width: 80vw !important;
  }

}

.header {
  color: $color-primary;
  margin: 0;
  padding: 1rem 0;
  text-transform: uppercase;
  border-bottom: 1px solid $color-primary;
}
