
.headInput {
  background-color: $color-primary-light;
  color: white;
  padding: 15px;

  .datePicker, .personPicker{
    margin-right: 10px;
    font-weight: bold;

    div{//avatar
      margin-left: 5px;
      display: inline-block;
    }
  }

  .datePicker, .personPicker, .subjectInput{
    padding: 10px;
    background-color: $color-primary;
    border-radius: 5px;
    display: inline-block;
  }

  .subjectInput {
    display: block;
    margin-bottom: 10px;

    span {
      display: none;
    }

    input {
      color: white;
      border-bottom: 0;
      padding: 0;
    }
  }

}

.amountContainer{

  background-color: $color-accent-light;
  padding: 15px;

  .currencySymbold {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    float: left;
    font-size: 30px;
    color: black;
    width: 50px;
    text-align: center;
  }
  .amountInput {
    margin-left: 60px;
    margin-right: 110px;
    padding: 10px;
    background-color: $color-button-grey;
    border-radius: 5px;
    display: block;
    height: 60px;

    span {
      display: none;
    }

    input {
      font-size: 30px;
      color: black;
      border-bottom: 0;
      padding: 0;
    }
  }

  .spit{
    border-radius: 5px;
    width: 100px;
    height: 60px;
    padding: 12px 8px;
    display: inline-block;
    background-color: $color-button-grey;
    float: right;
    font-size: 12px;
    text-align: center;

    b{
      font-size: 14px;
    }
  }
}
