.headInput {
  background-color: $color-primary-light;
  color: white;
  padding: 15px;

  .datePicker, .personPicker{
    margin-right: 10px;
    font-weight: bold;

    div{//avatar
      margin-left: 5px;
      display: inline-block;
    }
  }

  .datePicker, .personPicker, .subjectInput{
    padding: 10px;
    background-color: $color-primary;
    border-radius: 5px;
    display: inline-block;
  }

  .subjectInput {
    display: block;
    margin-bottom: 10px;

    span {
      display: none;
    }

    input {
      color: white;
      border-bottom: 0;
      padding: 0 30px 0 0;
    }
  }

}
