.AddExpense {

  .receiptIcon {
    height: 10vh;
  }

  .amountInput {
    display: inline-block;
  }
}

.newPersonInputContainer {

  position: relative;

  .nameInput {
    padding: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }

  .addButton {
    right: 0;
    position: absolute;
  }
}
