

.container {
  padding-top: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;

  .input{
    order: 1;
    margin-left: 1rem;
    width: 100px;
    padding: 0;

    input{
      text-align: right
    }
  }
  .amount {
    order: 0;
    color: $color-accent;
  }
}
