.button {
  position: fixed;

  bottom: 3rem;
  right: 3rem;

  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28); // Copied from Google Inbox

  transition-property: transform;
  transition-duration: 0.1s;

  &.expanded {
    transform: rotate(45deg)
  }
}
