.button {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28); // Copied from Google Inbox

  transition-property: transform;
  transition-duration: 0.2s;

  &.expanded {
    transform: rotate(45deg)
  }
}

.fab {
  position: fixed;

  bottom: 3rem;
  right: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .fabItems {

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .fabItem {

      $maxFabItems: 5;
      @for $i from 0 to $maxFabItems {
        &:nth-child(#{$i}) {
          transform: translateY(100% * $i) + translateY($i * 1rem);
        }
      }

      margin-bottom: 1rem;

      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
      transition-duration: 0.195s;

      &.expanded {
        transform: none;

        transition-duration: 0.225s;
        transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
      }
    }
  }
}
