.container {
  color: $color-accent;
  padding-bottom: 5px;
  white-space: nowrap;

  .filter, .filterIcon {
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: $color-button-grey;
    color: $color-accent;
  }

  .filterIcon {
    padding: 4px;
    float: right;
    margin-left: 10px;
  }
}

.personFilter {
  white-space: nowrap;
  div {
    display: inline-block;
    margin: -2px 5px 0 5px;
  }
}
