$avatarMargin: .5rem;

.avatarList {

  display: flex;
  flex-direction: row;

  div {
    margin: 0 $avatarMargin;
  }

  div:first-child {
    margin-left: 0;
  }

  div:last-child {
    margin-right: 0;
  }
}
