@import "~react-toolbox/lib/list/config";

@mixin applySize($size) {
  font-size: $size / 2;
  line-height: $size;
  width: $size;
  height: $size;
}

$sizeIncrease: 0.6;

.avatar {
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  vertical-align: middle;

  &.small {
    @include applySize($list-item-icon-font-size)
  }

  &.medium {
    @include applySize($list-item-icon-font-size + $sizeIncrease * 1)
  }

  &.large {
    @include applySize($list-item-icon-font-size + $sizeIncrease * 2)
  }
}
