.nobt {
  background-color: $color-accent-light;

  .pointer {
    background-color: $color-accent;
  }

  .tabs {
    margin: 0 0;

    nav {
      margin: 0 15px;
    }
  }

  .tab {
    outline: none;
  }

}

.addBillButton {
  color: $color-accent-dark !important;
}
