.nobt {
  margin: auto;
  background-color: white;
  min-height: 100vh;
  max-width: 480px;
}

.addBillButton {
  color: $color-accent-dark !important;
}

.overviewContainer{
  background-color: $color-primary-light;
  padding: 20px 15px 25px 15px;
  color: white;
  text-align: center;

  .nobtTitle{
    font-size: xx-large;
    margin-bottom: 10px;
  }

  .nobtMetadata{
    font-size: 13px;

    ul{
      padding: 0;
      list-style: none;
      margin-bottom: 10px;

      li{
        display: inline-block;
        padding-left: 5px;
        margin-right: 10px;

        div{
          display:flex;
          align-items: center;

          [data-react-toolbox="font-icon"]{ margin-right: 5px; font-size: 18px; }
        }
      }
    }
  }
}

.loader {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .separator {
    flex-grow: 1;
  }

  .progressBar {
    flex-grow: 3;
  }
}

.billList {
  padding: 1.5rem;
}
