.nobt {
  background-color: $color-accent-light;
  min-height: 100vh
}

.addBillButton {
  color: $color-accent-dark !important;
}

.loader {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .separator {
    flex-grow: 1;
  }

  .progressBar {
    flex-grow: 3;
  }
}

.billList {
  padding: 1.5rem;
}
