<!DOCTYPE html>
<html lang="en">
<head>
  <title>nobt.io: Split your bills with ease</title>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="RxNEUdqyb3p6Q7WHOTY2C5hzwOFMwFUcjRFvYNFoRf0" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Nobt.io is a free service to split bills among your friends. It is super simple and ease to use. Create a nobt, share the link with your friends and start splitting bills.">
  <meta name="keywords" content="nobt,nobtio,bills,friends,ease,payments,settle up,split bills,money,trips,roadtrips,lunch,party">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Comfortaa:700" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<script type="application/javascript">
		// Create a list of the features this browser needs.
    // Beware of overly simplistic detects!
    var features = [];
    ('Intl' in window) || features.push('Intl.~locale.en');

    // If any features need to be polyfilled, construct
    // a script tag to load the polyfills and append it
    // to the document
    if (features.length) {
        var scriptTag = document.createElement('script');

        // Include a `ua` argument set to a supported browser to skip UA identification
        // (improves response time) and avoid being treated as unknown UA (which would
        // otherwise result in no polyfills, even with `always`, if UA is unknown)
        scriptTag.src = 'https://cdn.polyfill.io/v2/polyfill.min.js?features='+features.join(',')+'&flags=gated,always&ua=chrome/50';
        document.head.appendChild(scriptTag);
    }
	</script>
</head>
<body>
<div id="root"></div>
</body>
</html>
