.PersonItem{
  margin-bottom: 10px;

  div{
    display: inline-block;
  }
  .PersonName{
    font-weight: bold;
    margin-left: 10px;
  }

  .RemoveButton{
    float: right;
    box-shadow: none;
    height: 40px;
  }
}
