.Team {
  text-align: center;

  .CoffeeInfo{
    margin: 30px 0;
  }

  .teamImages{
    margin-top: 20px;
    >div{
      height: 200px;
      width: 200px;
      display: inline-block;
      margin: 20px;
    }
  }
}
