.Team {
  text-align: center;

  .CoffeeInfo {
    margin: 30px 0;
  }

  .teamImages {
    margin-top: 20px;

    .imageFrame {
      height: 200px;
      width: 200px;
      display: inline-block;
      margin: 20px;
      position: relative;

      .imageDetailsWrapper {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: none;

        .imageDetails {
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;

          background-color: rgba(0, 0, 0, 0.8);

          display: flex;
          align-items: center;
          justify-content: center;

          h3 {
            color: white;
            font-family: $handwritten-font;
            font-size: xx-large;
          }

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              display: inline;
              padding: 0 10px;

              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

#teamMember1 {
  background-image: url('static/contributors/thomas_single.png')
}

#teamMember2 {
  background-image: url('static/contributors/david_single.png')
}

#teamMember3 {
  background-image: url('static/contributors/matthias_single.png')
}

@media #{$mq-desktop} {
  #teamMember1 {
    background-image: url('static/contributors/thomas.png')
  }

  #teamMember2 {
    background-image: url('static/contributors/david.png')
  }

  #teamMember3 {
    background-image: url('static/contributors/matthias.png')
  }
}
